<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Admin Dashboard</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="/css/admin_index.css" rel="stylesheet" />
  <link href="/css/admin_add.css" rel="stylesheet" />
  <link href="/css/admin_edit.css" rel="stylesheet" />
</head>

<body>
