<footer class="pull-left footer">
  <p class="col-md-12">
    <hr class="divider">
    Copyright &COPY; 40_GraphVille</a>
  </p>
</footer>
</div>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="../assets/js/admin_index.js"></script>
<script src="../assets/js/admin_add.js"></script>
</body>

</html>
