<!-- ON THIS PAGE THE ADMIN CAN EDIT PICTURES -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Picture</th>
      <th scope="col">Caption</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="Image Source" class="thumbnail"/></td>
      <td>Picture Caption</td>
      <td>Edit Caption</td>
      <td><a href="Link to Delete Photo">Delete Photo</td>
    </tr>
  </tbody>
</table>
    </div>
  </div>
</div>
