<footer class="pull-left footer">
  <p class="col-md-12">
    <hr class="divider">
    Copyright &COPY; 40_GraphVille</a>
  </p>
</footer>
</div>

<script src="https://www.gstatic.com/firebasejs/5.11.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyB_Ozbt-eQmuahZTu9fiFgtsSnAxdEE9NM",
    authDomain: "graphville.firebaseapp.com",
    databaseURL: "https://graphville.firebaseio.com",
    projectId: "graphville",
    storageBucket: "graphville.appspot.com",
    messagingSenderId: "1089251690898"
  };
  firebase.initializeApp(config);
</script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="../assets/js/admin_index.js"></script>
<script src="../assets/js/admin_add.js"></script>
</body>

</html>
