<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="/css/admin_login.css" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Admin Login</title>
</head>

<body>


  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
<br />
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="/img/logo.jpg" id="icon" alt="User Icon" />
      </div>
<br />
  <div class="alert alert-warning" role="alert">
</div>
      <!-- Login Form -->
      <form action="login.php" method="post">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login" autocomplete="off">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" autocomplete="off">
        <input type="submit" class="fadeIn fourth" value="Log In" name="submit">
      </form>

      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> -->

    </div>
  </div>

</body>

</html>
